.bookCard {
  max-width: 300px;

  .imageOverlay {
    background: linear-gradient(
      180deg,
      rgb(80, 80, 70) 1%,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0) 100%
    );
    height: 50% !important;
  }
  .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
